.booking-layout {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin: 20px;
}

.booking-card {
  border-radius: 12px;
  padding: 15px;
  background: #fff;
  width: 400px;
}

.booking-content {
  display: flex;
  gap: 30px;
}

.booking-image {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.booking-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-weight: 700;
  font-size: 16px;
}

.info {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.info span {
  color: black;
  margin-left: 4px;
}

.cancel-btn {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ff4d4f;
  color: white;
  background: #ff4d4f;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.cancel-btn:hover {
  background: #fff;
  color: #ff4d4f;
}
.cancel-btn:disabled {
  cursor: not-allowed;
}

@media only screen and (max-width : 400px){
  .booking-content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media only screen and (max-width : 300px){
  .booking-on-date{
    display: flex;
  }

  .booking-date-container{
    display: none;
  }
}