.all-cat{
    width: 95vw;
    padding: 10px 10px;
    margin: 10px auto;
    box-sizing: border-box;
    height: max-content;
}

.all-cat h2{
    font-weight: 400;
}

.icon {
display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 10px auto;
}

.icon-container{
    border-radius: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: .5px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.icon-container h2{
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'system-ui';
    color: rgb(45, 45, 45);
}

.icon-container:hover{   
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}