.icon{
    width: max-content;
    display: flex;
    margin: 10px auto;
}

.icon-container{
    border-radius: 10px;
    margin: 0 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    background: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px rgb(235, 235, 235);
}

.icon-container h2{
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'system-ui';
    color: rgb(45, 45, 45);
}