.hero{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-section-container{
    height: max-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}


.hero-section{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline{
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheadline{
    font-size: 1.2rem;
    color: rgb(58, 58, 58);
    font-weight: 400;
}

.blue{
    display: inline;
    color: #2563eb;
}

.search{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.type-writer{
    font-size: 1.2rem;
    display: flex;
    width: 200px;
    gap: 8px;
}

.typewriter-text {
  display: inline-block;
  width: 120px;
  text-align: left;
  color:#2563eb !important;
}


@media only screen and (max-width: 600px) {
    .headline-first{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .headline-top-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    .headline{
        font-size: 2.5rem;
    }

    .blue{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-headline{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slash-container{
        display: none;
    }

    .subheadline{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:300px){
    .type-writer{
        font-size: 1.1rem;
        width: 180px;
    }
}


