.hero{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-section-container{
    height: max-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}


.hero-section{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline{
    font-size: 3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subheadline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(58, 58, 58);
    font-weight: 400;
}

.blue{
    display: inline;
    color: #2563eb;
}

.search{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



