.footer{
    background-color: rgb(239, 239, 239);
    height: 170px;
    box-sizing: border-box;
    
}
.footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: space-between;
}

.footer-child{
    width: 20%;
    height: 140px;
}

.logo-container{
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.logo-container img{
    height: 30px;
}

.logo{
    color: black;
}

.services-section{
    display: flex;
    flex-direction: column;
}

.footer-child span h2{
    font-weight: 500;
}

.select-option{
    background-color: rgb(239, 239, 239);
    border: .5px solid rgb(180, 180, 180);
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.quick-link{
    color: black;
    text-decoration: none;
}

.footer-contact{
    display: flex;
    flex-direction: column;
}

.copy-right{
    text-align: center;
    width: inherit;
    font-size: 14px;
}

.logo-link{
    text-decoration: none;
}

@media only screen and (max-width: 750px) {
    .footer{
        height: max-content;
    }

    .footer-container{
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }

    .footer-child{
        margin: 0 10px;
        width: 200px;
    } 

    .logo-container{
        padding: 0;
        margin-top: 10px;
        align-items: start;
    }
}

@media only screen and (max-width: 450px) {
    .footer-container{
    height: max-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    }

    .footer-child{
        margin: 0 10px;
        width: max-content;
        height: max-content;
    }   

    .logo-container{
        padding: 0;
        margin-top: 10px;
    }
}