.about-page{
    padding: 0 10px;
}
.about-page p{
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.about-page h1{
    font-weight: 600;
    padding: 10px 0;
    font-size: 2.5rem;
}

.about-page h2{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 2rem;
}

#last-para{
    margin-bottom: 30px;
}

.list-items{
    list-style-type: disc;
    margin-bottom: 10px;
    display: block;
    list-style-type: disc;
    padding-left: 30px;
}